.v-btn {
    height: calc(var(--v-btn-height) + 4px) !important;
    text-transform: capitalize;
    letter-spacing: $btn-letter-spacing;
    border-radius: 7px;
}

.v-btn--icon.v-btn--density-default {
    width: calc(var(--v-btn-height) + 6px);
    height: calc(var(--v-btn-height) + 6px);
}

.v-btn-group .v-btn {
    height: inherit !important;
}